<!DOCTYPE html>
{% include 'header.html' %}
{% load crispy_forms_tags %}

<body>
  {% if user.is_authenticated %}
    <div class="card register-card" style="width: 46vw;">
      <div class="card-body">
        <h5 class="card-title text-center">Edit Blog</h5>
        <form method="post">
          {% csrf_token %}
          <div class="blog_display">
            {{ form.media }}
            {{ form|crispy}}
          </div>
          <div class="text-center">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  {% else %}
  <h3 class="text-center" style="margin-top: 20vw;">You are not logged in to edit this post! &nbsp;<a href="{% url 'login' %}">Log in</a></h3>
  {% endif %}
</body>
</html>